<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Daftar Entity and Site</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Daftar Entity and Site</li>
            </ol>	
        </div>
        <section layout:fragment="content">
            <div>TODO write content</div>
        </section>        
    </body>
</html>
